<a href="https://colab.research.google.com/github/wldnjd2/Python/blob/main/21_11_01_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello World

In [1]:
print("Hello World")

Hello World

주석처리

In [ ]:
# 한 줄 주석처리
""" 여러줄 주석
처리입니다"""

변수의 종류

In [2]:
num_int =1 
print(type(num_int))

<class 'int'>

In [5]:
num_float = 0.2
print(type(num_float))

<class 'float'>

In [8]:
bool_true = True
print(type(bool_true))

<class 'bool'>

In [9]:
none_x = None
print(type(none_x))

<class 'NoneType'>

사칙연산

In [10]:
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)    #나누기 실수형
print(a//b)   #나누기 정수형
print(a%b)    #나눗셈 나머지 출력
print(a**b)   #제곱

5
1
6
1.5
1
1
9

In [11]:
c=2.0
d=3.0
print(c+d)
print(c-d)
print(c*d)
print(c/d)
print(c//d)
print(c**d)

5.0
-1.0
6.0
0.6666666666666666
0.0
8.0

논리형 연산자

In [13]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#1 1 일때만 1

True
False
False
False

In [14]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)
#0 0 일때만 0

True
True
True
False

형변환

In [16]:
#input("숫자를 입력하세요")
data =input ("숫자를 입력하세요")
data2 = int(data)
print(type(data2))  #형변환

숫자를 입력하세요100
<class 'int'>

In [21]:
num1 = int(input("첫번째 숫자를 입력하세요: "))
num2 = int(input("두번째 숫자를 입력하세요: "))
num3 = int(input("세번째 숫자를 입력하세요: "))
num4 = int(input("네번째 숫자를 입력하세요: "))

var1 = num1>=num2
var2 = num2<num4
print(var1 and var2)

첫번째 숫자를 입력하세요: 1
두번째 숫자를 입력하세요: 2
세번째 숫자를 입력하세요: 3
네번째 숫자를 입력하세요: 4
False

String Operators

In [84]:
str1 = "kim "
str2 = "jeewon "
print('str1 + str2 = ', str1+ str2)
name = str1 + str2
print('name*10=', name*3)

str1 + str2 =  kim jeewon
name*10= kim jeewon kim jeewon kim jeewon

Indexing

In [25]:
greeting = "Hello Kaggle"
print(greeting[5])

Slicing

In [26]:
greeting = "Hello Kaggle"
print(greeting[:])
print(greeting[6:])
print(greeting[:6])
print(greeting[1:2])
print(greeting[0:10:3])

Hello Kaggle
Kaggle
Hello
e
HlKg

In [31]:
greeting[12]
#총 열두자리 이므로 인덱스는 11번까지 있음

IndexError: ignored

리스트   #가장 많이 사용

In [33]:
a=[]
a_func=list()
b=[1]
c=['apple']
d=[1,2,['apple']]

print(a)
print(a_func)
print(b)
print(c)
print(d)

[]
[]
[1]
['apple']
[1, 2, ['apple']]

In [34]:
a=[['apple','cherry','watermelon'],5]
print(a)
print(a[0])
print(a[1])
print(a[0][0])
print(a[0][0][0])
print(a[0][1])
print(a[0][2])
print(a[0][2][3])

[['apple', 'cherry', 'watermelon'], 5]
['apple', 'cherry', 'watermelon']
5
apple
a
cherry
watermelon
e

In [38]:
a=[[1, 2, 3], 5]
print(a[0])
print(a[1])
print(a[0][1])
print(a[0][2])
print(a[-1])

[1, 2, 3]
5
2
3
5

In [85]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[:])       #전체 출력
print(a[:4])      #인덱스 0부터 3까지
print(a[0:7:2])   #인덱스 0부터 6까지 2씩 건너 띄우기
print(a[::-1])    #리스트 a의 역순
print(a[::2])     #리스트 전체 구간에서 인덱스 2씩 건너띄우기

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]
[1, 3, 5, 7]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

In [86]:
a = ['alice', 'bob', 'cat']
b = ['apple', 'banana', 'cherry']
c = a+b

print(c)

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

In [46]:
a=['a','b','c']
b=a*3
c=a*0
print(b)
print(c)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
[]

리스트 값 수정하기

In [47]:
a =[0,1,2]
a[1] ="b"
print(a)

[0, 'b', 2]

리스트 값 추가하기

In [50]:
a=[100, 200, 300]
a.append(400)
a.append(500)
print(a)
#append 하나씩 더해줌

a.append([600,700])
print(a)

[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500, [600, 700]]

In [51]:
a =[1,2,3]
a.extend([40,500])
print(a)
#extend 한번에 더해줌

[1, 2, 3, 40, 500]

In [54]:
a =[1,2,3]
a.insert(1,100)
a.insert(2,200)
a.insert(3,300)
print(a)
#insert(a,b) a번째에 b를 삽입

[1, 100, 200, 300, 2, 3]

In [62]:
a =[1,2,3]
a[2:2]=[100,200]
print(a)

#시작과 끝의 범위보다 큰 수를 덮어쓰는 예시
b=[0,1,2,3]
b[1:4]=[100,200,300,400]  
print(b)

#시작과 끝의 범위가 작을때의 예시
c=[0,1,2,3]
c[1:3]=[100]
print(c)

[1, 2, 100, 200, 3]
[0, 100, 200, 300, 400]
[0, 100, 3]

리스트 값 삭제하기

In [66]:
a=[1,2,1,2]

a.remove(1)
print(a)

a.remove(1)
print(a)

[2, 1, 2]
[2, 2]

In [67]:
a=[0,1,2,3,4,5,6,7,8,9]

del a[1]
print(a)

b=[0,1,2,3,4,5,6,7,8,9]
del b[1:4]        #n부터 n-1까지의 범위를 삭제
print(b)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 4, 5, 6, 7, 8, 9]

In [68]:
#인덱스를 지정한 pop()

a=[0,1,2,3,4]
r=a.pop(1)

print(a)
print(r)

[0, 2, 3, 4]
1

In [69]:
#인덱스를 지정하지 않은 pop()
#pop 리스트의 맨 마지막 요소를 돌려주고 그 값을 삭제
b = ['a','b','c','d']
x =b.pop()

print(b)
print(x)

['a', 'b', 'c']
d

튜플

In [71]:
#리스트는 []
#튜플은 ()

tuple1 = (0)
tuple2 = (0,)
tuple3 = 0,1,2

print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1)) #콤마를 붙여주지 않으면 튜플이 아니다
print(type(tuple2)) #콤마를 붙여줘야 튜플 자료형이 된다
print(type(tuple3)) #여러개 값일 경우 괄호를 없애주어도 튜플 자료형이다

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [100]:
t = (0,1,2,'b',4)

print(t[1])
print(t[3])

1
b

In [101]:
t = (0,1,2,3,4)
print(t[2:])
print(t[0:2])

(2, 3, 4)
(0, 1)

딕셔너리

In [94]:
#딕셔너리는 자바에서 배열과 비슷
#{Key1:Value1, Key2:Value2, Key3:Value3, ...}
dic = {'teacher':'alice', 'class': 5, 'studentid': '15', 'list':[1,2,3]}

print(dic['teacher'])
print(dic['class'])
print(dic['list'])

alice
5
[1, 2, 3]

In [96]:
dic = {'teacher':'alice', 'class': 5, 'studentid': '15', 'list':[1,2,3]}
print(dic['list'])

[1, 2, 3]

In [97]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.keys()

dict_keys(['name', 'job', 'age'])

In [98]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.values()

dict_values(['bob', 'farmer', 35])

In [99]:
a = {'name': 'chris', 'job': 'painter', 'age': 30}
print(a.get('name'))
print(a.get('dinner'))
print(a.get('dinner', 'empty'))

chris
None
empty

집합연산자

In [88]:
s = {}
print(type(s))

s = set()
print(type(s))

s = {1,2,3}
print(type(s))

<class 'dict'>
<class 'set'>
<class 'set'>

In [89]:
a = {1,3,5}
b = {2,4,6}

c = a|b
d = a.union(b)
print("a|b:", c)
print("a.union(b)", d)

a|b: {1, 2, 3, 4, 5, 6}
a.union(b) {1, 2, 3, 4, 5, 6}

In [90]:
a = {1,3,5}
b = {2,4,6}
c = a&b
print(c)

e = {1,2,5}
f = {2,3,5}
g1 = e&f
g2 = e.intersection(f)
print("e&f:", g1)
print("e.intersection(f):", g2)

set()
e&f: {2, 5}
e.intersection(f): {2, 5}

In [93]:
a = {1,3,5}
b = {2,4,5}

c1 = a-b
c2 = a.difference(b)
print("a-b:", c1)
print("a.difference(b)", c2)

a-b: {1, 3}
a.difference(b) {1, 3}

In [92]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

c1 = a^b
c2 = a.symmetric_difference(b)
print("a^b", c1)
print("a.symmetric_difference(b)", c2)

a^b {1, 2, 6, 7}
a.symmetric_difference(b) {1, 2, 6, 7}

if조건문

In [75]:
grade = int(input("점수를 입력하세요"))

if grade > 90:
  print("A")
elif grade > 80:
  print("B")
elif grade >70:
  print("C")
else:
  print("D")

점수를 입력하세요100
A

반복문

In [78]:
for i in range(10):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [81]:
a ="Kaggle"
for x in a:
  print(x)

  if x =='l':
    break

K
a
g
g
l

In [87]:
#enumerate() 함수는 기본적으로 인덱스와 원소로 이루어진 튜플을 만들어줌
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
    print(index, value)

0 A
1 B
2 C